.interna_sobre {
  background: url("/img/bg-sobre.jpg");
  color: #fff;
}

.subtitulo_sobre {
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

.subtitulo_sobre::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 12px auto;
}

.sobre_apresentacao {
  text-align: center;
  padding: 40px 0;
}

.sobre_apresentacao p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.lista_sobre {
  text-align: left;
  padding: 60px 0;
}

.lista_sobre h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.lista_sobre h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: left;
  margin: 10px 0 20px 0;
}

.lista_sobre p {
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 600px;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
}

.lista_valores p {
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 600px;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
}

.lista_valores h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.lista_valores h3::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: left;
  margin: 10px 0 20px 0;
}
.lista_valores {
  text-align: left;
  padding: 60px 0;
}
